name: Android APK Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: |
          npm install
          npm install @capacitor/core @capacitor/cli @capacitor/android

      - name: Build Web Project
        run: npm run build

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Capacitor Setup
        run: |
          # Çakışmaları önlemek için eski android klasörünü siliyoruz
          rm -rf android
          npx cap init Ajanda com.beratyavuz.ajanda --web-dir dist
          npx cap add android
          npx cap sync android

      - name: Build APK with Gradle
        run: |
          cd android
          chmod +x gradlew
          # Hata aldığın dosya izleme ve önbellek sorununu çözen ayar:
          mkdir -p ~/.gradle
          echo "org.gradle.vfs.watch=false" >> ~/.gradle/gradle.properties
          # Temiz bir build başlatıyoruz
          ./gradlew clean
          ./gradlew assembleDebug --no-daemon --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Ajanda-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
